body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    background-image: url(background.png);
    /* background-repeat: no-repeat; */
    background-position: center center;
    background-size: cover;
}

.bg_black {
    background-color: #091527;
}

.customise {
    position: relative;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 153.69%;
    /* or 194px */

    display: flex;
    align-items: center;

    color: #ffffff;
}

.nav_left {
    justify-content: left;
}
